services:
  - type: web
    name: glucosense-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: API_VERSION
        value: v1
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRE
        value: 7d
      - key: BCRYPT_ROUNDS
        value: 12
      - key: ENABLE_REDIS
        value: false
